
$h1Size : "";
$h2Size : ""; //if not defined to make it 2/3 of the h1.
$h3Size : ""; //if not defined to make it 1/2 of the h1
$h4Size : ""; //if not defined to make it 1/3 of the h1
$h5Size : ""; //if not defined to make it 1/4 of the h1.
$h6Size : ""; //if not defined to make it 1/4 of the h1.

$bodySize : "";

